In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states
import gmaps

# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year= 2013)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [17]:
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E", "B17001_002E", "B23025_005E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E", "B02001_002E", "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E", "B02001_008E", "B03001_003E"), {'for': 'state:*'})
#"B15003_002E"

# Make dataframe
census_pd = pd.DataFrame(census_data)
census_pd.head()

,B01002_001E,B01003_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_008E,B03001_003E,B15003_002E,...,B15003_022E,B15003_023E,B15003_024E,B15003_025E,B17001_002E,B19013_001E,B19301_001E,B23025_005E,NAME,state
0,38.1,4799277.0,3326188.0,1262152.0,25278.0,56831.0,1387.0,72145.0,188294.0,40711.0,...,458393.0,187852.0,45646.0,30801.0,870631.0,43253.0,23680.0,241930.0,Alabama,01
1,33.6,720316.0,481638.0,25033.0,101273.0,39200.0,8013.0,56757.0,42832.0,2796.0,...,80447.0,31988.0,7431.0,5068.0,69514.0,70760.0,32651.0,32939.0,Alaska,02
2,36.3,6479703.0,5131739.0,270027.0,286953.0,182953.0,12607.0,191265.0,1935948.0,52419.0,...,716734.0,296979.0,69819.0,48203.0,1131901.0,49774.0,25358.0,316360.0,Arizona,04
3,37.5,2933369.0,2295446.0,454903.0,17945.0,37776.0,5697.0,58307.0,192264.0,22954.0,...,257157.0,93456.0,23201.0,15503.0,547328.0,40768.0,22170.0,121235.0,Arkansas,05
4,35.4,37659181.0,23467167.0,2255372.0,286397.0,5005635.0,146290.0,1627359.0,14270345.0,598141.0,...,4753446.0,1821325.0,565907.0,360357.0,5885417.0,61094.0,29527.0,2168665.0,California,06

In [19]:
# Reorder columns 
census_pd = census_pd.rename(columns={"B01003_001E": "Total Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Median Household Income Per Year (Dollars)",
                                      "B19301_001E": "Income Per Capita Per Year (Dollars)",
                                      "B17001_002E": "Number of People Living in Poverty",
                                      "B23025_005E": "Unemployment Count (16+)",
                                      "B15003_002E": "Number of People Who Completed No Schooling (25+)",
                                      "B15003_017E": "Number of People with High School Degree (25+)",
                                      "B15003_018E": "Number of People with GED (25+)",
                                      "B15003_021E": "Number of People with Associates Degree (25+)",
                                      "B15003_022E": "Number of People with Bachelors Degree (25+)",
                                      "B15003_023E": "Number of People with Masters Degree (25+)",
                                      "B15003_024E": "Number of People with Professional Degree (25+)",
                                      "B15003_025E": "Number of People with Doctoral Degree (25+)",
                                      "B02001_002E": "Number of People of European American Origin",
                                      "B02001_003E": "Number of People of African American Origin",
                                      "B02001_004E": "Number of People of Native American Origin",
                                      "B02001_005E": "Number of People of Asian Origin",
                                      "B02001_006E": "Number of People of Pacific Islander Origin",
                                      "B03001_003E": "Number of People of Hispanic Origin",
                                      "B02001_008E": "Number of People of Multiethnic Origin",
                                      "NAME": "Name", "state": "State"  
})

census_pd.head()

,Median Age,Total Population,Number of People of European American Origin,Number of People of African American Origin,Number of People of Native American Origin,Number of People of Asian Origin,Number of People of Pacific Islander Origin,Number of People of Multiethnic Origin,Number of People of Hispanic Origin,Number of People Who Completed No Schooling (25+),...,Number of People with Bachelors Degree (25+),Number of People with Masters Degree (25+),Number of People with Professional Degree (25+),Number of People with Doctoral Degree (25+),Number of People Living in Poverty,Median Household Income Per Year (Dollars),Income Per Capita Per Year (Dollars),Unemployment Count (16+),Name,State
0,38.1,4799277.0,3326188.0,1262152.0,25278.0,56831.0,1387.0,72145.0,188294.0,40711.0,...,458393.0,187852.0,45646.0,30801.0,870631.0,43253.0,23680.0,241930.0,Alabama,01
1,33.6,720316.0,481638.0,25033.0,101273.0,39200.0,8013.0,56757.0,42832.0,2796.0,...,80447.0,31988.0,7431.0,5068.0,69514.0,70760.0,32651.0,32939.0,Alaska,02
2,36.3,6479703.0,5131739.0,270027.0,286953.0,182953.0,12607.0,191265.0,1935948.0,52419.0,...,716734.0,296979.0,69819.0,48203.0,1131901.0,49774.0,25358.0,316360.0,Arizona,04
3,37.5,2933369.0,2295446.0,454903.0,17945.0,37776.0,5697.0,58307.0,192264.0,22954.0,...,257157.0,93456.0,23201.0,15503.0,547328.0,40768.0,22170.0,121235.0,Arkansas,05
4,35.4,37659181.0,23467167.0,2255372.0,286397.0,5005635.0,146290.0,1627359.0,14270345.0,598141.0,...,4753446.0,1821325.0,565907.0,360357.0,5885417.0,61094.0,29527.0,2168665.0,California,06

In [31]:
# Add in Percentage of People Living in Poverty (Number of People Living in Poverty / Total Population)
census_pd["Percentage of People Living in Poverty"] = (census_pd["Number of People Living in Poverty"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [32]:
# Add in Employment Rate (Employment Count / Population)
census_pd["Percentage of Unemployed"] = (census_pd["Unemployment Count (16+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [33]:
# Add in Percentage of People Who Completed No Schooling (25+) Rate (No school / Population)
census_pd["Percentage of People Who Completed No Schooling (25+)"] = (census_pd["Number of People Who Completed No Schooling (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [34]:
# Add in Percentage of People Who Completed High School Rate (High school / Population)
census_pd["Percentage of People with High School Degree (25+)"] = (census_pd["Number of People with High School Degree (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [35]:
# Add in Percentage of People Who Completed GED Rate (GED/ Population)
census_pd["Percentage of People with GED (25+)"] = (census_pd["Number of People with GED (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [36]:
# Add in Percentage of People Who Completed Associates Rate (Associates/ Population)
census_pd["Percentage of People with Associates Degree (25+)"] = (census_pd["Number of People with Associates Degree (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [37]:
# Add in Percentage of People Who Completed Bachelors Rate (Bachelors/ Population)
census_pd["Percentage of People with Bachelors Degree (25+)"] = (census_pd["Number of People with Bachelors Degree (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [38]:
# Add in Percentage of People Who Completed Masters Rate (Masters/ Population)
census_pd["Percentage of People with Masters Degree (25+)"] = (census_pd["Number of People with Masters Degree (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [39]:
# Add in Percentage of People Who Completed Professional Rate (Professional/ Population)
census_pd["Percentage of People with Professional Degree (25+)"] = (census_pd["Number of People with Professional Degree (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [40]:
# Add in Percentage of People Who Completed Doctoral Rate (Doctoral/ Population)
census_pd["Percentage of People with Doctoral Degree (25+)"] = (census_pd["Number of People with Doctoral Degree (25+)"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [41]:
# Add in Percentage of People of European American Origin (European American Origin/ Population)
census_pd["Percentage of People of European American Origin"] = (census_pd["Number of People of European American Origin"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [42]:
# Add in Percentage of People of African American Origin (Number of People of African American Origin/ Population)
census_pd["Percentage of People of African American Origin"] = (census_pd["Number of People of African American Origin"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [43]:
# Add in Percentage of People of Native American Origin (Number of People of Native American Origin/ Population)
census_pd["Percentage of People of Native American Origin"] = (census_pd["Number of People of Native American Origin"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [44]:
# Add in Percentage of People of Asian American Origin (Number of People of Asian American Origin/ Population)
census_pd["Percentage of People of Asian Origin"] = (census_pd["Number of People of Asian Origin"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [45]:
# Add in Percentage of People of Pacific Islander Origin (Number of People of Pacific Islander Origin/ Population)
census_pd["Percentage of People of Pacific Islander Origin"] = (census_pd["Number of People of Pacific Islander Origin"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [46]:
# Add in Percentage of People of Hispanic Origin (Number of People of Hispanic Origin/ Population)
census_pd["Percentage of People of Hispanic Origin"] = (census_pd["Number of People of Hispanic Origin"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [47]:
# Add in Percentage of People of Multiethnic Origin (Number of People of Hispanic Origin/ Population)
census_pd["Percentage of People of Multiethnic Origin"] = (census_pd["Number of People of Multiethnic Origin"].astype(int) / census_pd["Total Population"].astype(int)) * 100

In [48]:
# Final DataFrame
census_pd_edit = census_pd[["State", "Name", "Total Population", "Median Age", "Median Household Income Per Year (Dollars)", "Income Per Capita Per Year (Dollars)", "Percentage of People Living in Poverty", "Percentage of Unemployed", "Percentage of People Who Completed No Schooling (25+)", "Percentage of People with High School Degree (25+)", "Percentage of People with GED (25+)", "Percentage of People with Associates Degree (25+)", "Percentage of People with Bachelors Degree (25+)", "Percentage of People with Masters Degree (25+)", "Percentage of People with Professional Degree (25+)", "Percentage of People with Doctoral Degree (25+)", "Percentage of People of European American Origin", "Percentage of People of African American Origin", "Percentage of People of Native American Origin", "Percentage of People of Asian Origin", "Percentage of People of Pacific Islander Origin", "Percentage of People of Hispanic Origin", "Percentage of People of Multiethnic Origin"]]

census_pd_edit.head()

,State,Name,Total Population,Median Age,Median Household Income Per Year (Dollars),Income Per Capita Per Year (Dollars),Percentage of People Living in Poverty,Percentage of Unemployed,Percentage of People Who Completed No Schooling (25+),Percentage of People with High School Degree (25+),...,Percentage of People with Masters Degree (25+),Percentage of People with Professional Degree (25+),Percentage of People with Doctoral Degree (25+),Percentage of People of European American Origin,Percentage of People of African American Origin,Percentage of People of Native American Origin,Percentage of People of Asian Origin,Percentage of People of Pacific Islander Origin,Percentage of People of Hispanic Origin,Percentage of People of Multiethnic Origin
0,01,Alabama,4799277.0,38.1,43253.0,23680.0,18.140878,5.040968,0.848274,17.050797,...,3.914173,0.951102,0.641784,69.306023,26.298795,0.526704,1.184158,0.028900,3.923383,1.503247
1,02,Alaska,720316.0,33.6,70760.0,32651.0,9.650487,4.572854,0.388163,14.058691,...,4.440829,1.031631,0.703580,66.864820,3.475280,14.059524,5.442056,1.112428,5.946279,7.879458
2,04,Arizona,6479703.0,36.3,49774.0,25358.0,17.468409,4.882323,0.808972,13.321753,...,4.583219,1.077503,0.743908,79.197133,4.167274,4.428490,2.823478,0.194561,29.877110,2.951756
3,05,Arkansas,2933369.0,37.5,40768.0,22170.0,18.658682,4.132961,0.782513,19.143245,...,3.185961,0.790934,0.528505,78.252889,15.507868,0.611754,1.287803,0.194214,6.554375,1.987714
4,06,California,37659181.0,35.4,61094.0,29527.0,15.628107,5.758662,1.588301,12.015912,...,4.836337,1.502707,0.956890,62.314597,5.988903,0.760497,13.291938,0.388458,37.893402,4.321281

In [50]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd_edit.to_csv("census_data_states_summary_2013_2018.csv", encoding="utf-8", index=False)